<div class="container">
  <h1>Lists</h1>
  <% if @lists.empty? %>
    <p><%= @user.name %> does not have lists</p>
  <% end %>
  <%= div_for(@lists,class: "well col-md-3") do |list| %>
    <%= list.list_date.strftime("%d %B %Y") %> | <%= link_to 'Show', user_list_path(@user,list) %>
    |<%= link_to 'Delete', user_list_path(@user,list), method: :delete,
											   data: {confirm: 'Are you sure?'} %></li>
  <% end %>
</div>