<div class="container">
  <h1>DIARY</h1>
  <% if @entries.empty? %>
    <p><%= @user.name %> does not have entries</p>
  <% end %>
  <% if owner? %>
  <%= link_to "New entry", new_user_entry_path %><br>
  <% end %>
  <%= div_for(@entries,class: "well col-md-3") do |entry| %>
    <%= entry.day.strftime("%d %B %Y") %> | <%= link_to 'Show', user_entry_path(@user,entry) %>
    <% if owner? %>
    |<%= link_to 'Delete', user_entry_path(@user,entry), method: :delete,
											   data: {confirm: 'Are you sure?'} %></li>
    <% end %>
  <% end %>
</div>