<div class="container">
  <div class="well">
    <h2> <%= @entry.day.strftime("%d %B %Y") %> </h2>
    <%= render partial: "tasks/simple_task", collection: @tasks, as: :task %>
    <pre><%= @entry.body %></pre>
    <% if owner? %>
      <button class="change btn btn-info">Change</button>
      <button class="add btn btn-info">Add</button>
      <div class="change_body">
        <%= render 'form' %>
      </div>
      <div class="add_text">
    		<textarea class="new_text"></textarea><br>
    		<button class="update_body btn btn-primary">Add text</button>
      </div>
      <%= link_to 'Delete', user_entry_path(@user,@entry), method: :delete,
                           data: {confirm: 'Are you sure?'}, :class => "delete_entry btn btn-warning" %>
    <% end %>
    <%= link_to 'Back to entries', user_entries_path(@user), :class => "btn btn-info" %>
  </div>
</div>