<div class="row">
  <div class="col-xs-12 text-center">
    <div class="well controls">
      <%= link_to user_calendar_path(@user,date: @date - 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-backward"></i>
      <% end %>
      <%= "#{@date.strftime("%B %Y")}" %>
      <%= link_to user_calendar_path(@user,date: @date + 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-forward"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= calendar @date do |date| %>
      <%= date.day %>
        <% if @hash.value? date %>
          <%= link_to '', user_list_path(@user, @hash.key(date)), class: 'link_to_list' %>
        <% elsif owner? %>
          <%= link_to '', user_lists_path(:list_date => date), method: :post, class: 'link_new' %>
        <% end %>
      <br>
      <% @goals.each do |goal| %>
        <% if goal.term.strftime("%Y-%m-%d").to_s==date.to_s %>
          <%= link_to goal.name+ " deadline", user_goal_path(@user,goal), class: 'goal_deadline' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>