<div class="container">
  <div class="row users">
  <div class="title">
    <span><%= @user.name %> profile </span>
  </div>
    <div class="col-md-6">
      <%= image_tag @user.avatar.url(:medium) %><br>
      <% if owner? %>
        <%= link_to 'Edit user registration', edit_user_registration_path, class: 'btn btn-warning' %>
        <%= link_to 'Edit user', edit_user_path, class: 'btn btn-warning' %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="wrap wrap_1">
        <%= link_to "", user_calendar_path(@user), class: 'sprite sprite-calendar' %>
        <%= link_to "", user_lists_path(@user), class: 'sprite sprite-list' %>
      </div>
      <div class="wrap wrap_2">
        <%= link_to "", user_goals_path(@user), class: 'sprite sprite-goal' %>
        <%= link_to "", user_entries_path(@user), class: 'sprite sprite-diary' %>
      </div>
    </div>
</div>