<%= form_for [current_user,@goal] do |f| %>
<div>
<%= f.label :name %>
<%= f.text_field :name %>
</div>
<div>
<%= f.label :description %>
<%= f.text_area :description %>
</div>
<div>
<%= f.label :term %>
<%= f.date_field :term %>
</div>
<%= f.submit %>
<% end %>
