<div class="container">
  <% if active?(@goal) %>
    <div class="well goal_profile" data-id="<%= @goal.id %>">
  <% else %>
    <div class="well goal_profile completed_goal">
  <% end %>
    <h3> <%= @goal.name %></h3>
    <%= image_tag @goal.image.url(:medium) %>
    <p> <%= @goal.description %></p>
    <p>Deadline: <%= @goal.term.strftime("%d %B %Y") %></p>
    <% if owner? %>
      <%= link_to 'Edit Goal', edit_user_goal_path(@user,@goal), :class => "btn btn-warning" %>
      <% if active?(@goal) %>
        <button class="finish_goal btn btn-success">Finish Goal</button>
      <% end %>
    <% end %>
    <%= link_to 'Tools', user_goal_tools_path(@user,@goal), :class => "btn btn-primary" %><br>
    <%= render 'finish_form' %>
    <%= link_to 'Back to Goals', user_goals_path(@user), :class => "btn btn-info" %>
</div>